[submodule "ml_module"]
	path = ml_module
	url = https://github.com/jmcheon/ml_module.git
[submodule "python_module"]
	path = python_module
	url = https://github.com/jmcheon/python_module.git
[submodule "ft_linear_regression"]
	path = ft_linear_regression
	url = https://github.com/jmcheon/ft_linear_regression.git
[submodule "multilayer_perceptron"]
	path = multilayer_perceptron
	url = https://github.com/jmcheon/multilayer_perceptron
[submodule "lem_in"]
	path = lem_in
	url = https://github.com/jmcheon/lem_in
[submodule "dslr"]
	path = dslr
	url = https://github.com/jmcheon/dslr
